ion-grid {
    margin-top: 7px;
  }
  
  ion-avatar {
    :hover {
      cursor: pointer;
      color: white;
    }
  }
  
  .header-row {
    background-color: var(--ion-color-primary);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 0 5px;
  }
  
  .header-cell {
    padding: 10px;
  }
  
  .data-row {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .data-cell {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ion-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--ion-color-secondary);
  }
  