<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'SALES_HISTORY' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card *ngFor="let car of cars">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img [src]="car.picture?.url || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Car image"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{ car.brand }} {{ car.model }}</h2>
              <p><strong>{{ 'PLATE' | translate }}:</strong> {{ car.plate }}</p>
              <!--<p><strong>{{ 'NAME' | translate }}:</strong> {{ car.customer?.name }}</p>
              <p><strong>{{ 'DNI' | translate }}:</strong> {{ car.customer?.dni }}</p>-->
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
