<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header-row">
      <ion-col size="2" class="header-cell">Marca</ion-col>
      <ion-col size="2" class="header-cell">Modelo</ion-col>
      <ion-col size="2" class="header-cell">Matrícula</ion-col>
      <ion-col size="2" class="header-cell">Cliente</ion-col>
      <ion-col size="2" class="header-cell">DNI</ion-col>
      <ion-col size="1" class="header-cell">Contrato</ion-col>
    </ion-row>

    <ion-row *ngFor="let car of soldCars$ | async" class="data-row">
      <ion-col size="2" class="data-cell">{{ car.brand }}</ion-col>
      <ion-col size="2" class="data-cell">{{ car.model }}</ion-col>
      <ion-col size="2" class="data-cell">{{ car.plate }}</ion-col>

      <!-- Cliente -->
      <ion-col size="2" class="data-cell">
        <ng-container *ngIf="getCustomerData(car) | async as customer">
          {{ customer.name }} {{ customer.surname }}
        </ng-container>
      </ion-col>

      <!-- DNI -->
      
      <ion-col size="2" class="data-cell">
        <ng-container *ngIf="getCustomerData(car) | async as customer">
          {{ customer.dni }}
        </ng-container>
      </ion-col>

      <!-- Contrato -->
      <ion-col size="1" class="data-cell">
        <ng-container *ngIf="getCustomerData(car) | async as customer">
          <ion-button fill="clear" color="primary" (click)="generateContract(car, customer)">
            <ion-icon name="download-outline"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
