<ion-content>
  <ion-grid class="profile-container">
    <ion-row class="profile-row">
      <!-- Columna de Imagen -->
      <ion-col size="4" class="profile-image-col">
        <ion-avatar class="profile-avatar">
          <img [src]="profileImage" alt="Imagen de perfil" />
        </ion-avatar>
        <ion-button expand="block" color="primary" (click)="changeProfileImage()">
          {{ 'CHANGE-IMAGE' | translate }}
        </ion-button>
      </ion-col>

      <!-- Columna de Detalles -->
      <ion-col size="8" class="profile-details">
        <form [formGroup]="profileForm">
          <ion-grid>
            <ion-row>
              <!-- Subcolumna de Usuario -->
              <ion-col size="6">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{ 'USER-INFO' | translate}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                      <ion-label position="stacked">{{ 'USERNAME' | translate }}</ion-label>
                      <ion-input type="text" formControlName="username"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">{{ 'EMAIL' | translate }}</ion-label>
                      <ion-input type="email" formControlName="email"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">{{ 'PASSWORD' | translate }}</ion-label>
                      <ion-input type="password" ></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">{{ 'CONFIRM-PASSWORD' | translate}}</ion-label>
                      <ion-input type="password" ></ion-input>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-col>

              <!-- Subcolumna de Cliente -->
              <ion-col size="6">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{ 'CUSTOMER-INFO' | translate}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                      <ion-label position="stacked">{{ 'NAME' | translate }}</ion-label>
                      <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">{{ 'SURNAME' | translate }}</ion-label>
                      <ion-input type="text" formControlName="surname"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">{{ 'PHONE' | translate }}</ion-label>
                      <ion-input type="tel" formControlName="phone"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label position="stacked">{{ 'ID' | translate }}</ion-label>
                      <ion-input type="text" formControlName="dni"></ion-input>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

          <!-- Botones de acción -->
          <ion-row class="action-buttons">
            <ion-col size="6">
              <ion-button expand="block" color="success" (click)="saveChanges()">{{ 'SAVE-CHANGES' | translate }}</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="danger" (click)="discardChanges()">{{ 'UNDO-CHANGES' | translate }}</ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button expand="full" color="danger" class="logout-button" (click)="logout()">
                {{ 'LOGOUT' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
