<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ADD-CAR' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="addCar()">
    <ion-item>
      <ion-label position="floating">{{ 'BRAND' | translate }}</ion-label>
      <ion-input formControlName="brand"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'MODEL' | translate }}</ion-label>
      <ion-input formControlName="model"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PRICE' | translate }}</ion-label>
      <ion-input formControlName="price" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'HORSEPOWER' | translate }}</ion-label>
      <ion-input formControlName="horsePower" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'DOORS' | translate }}</ion-label>
      <ion-input formControlName="doors" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'COLOR' | translate }}</ion-label>
      <ion-input formControlName="color"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'TYPE' | translate }}</ion-label>
      <ion-input formControlName="type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'PLATE' | translate }}</ion-label>
      <ion-input formControlName="plate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{ 'DESCRIPTION' | translate }}</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <app-picture-selectable formControlName="picture"></app-picture-selectable>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="formGroup.invalid">
      {{ 'ADD-CAR' | translate }}
    </ion-button>
  </form>
</ion-content>
