ion-content{
    background-color: var(--ion-color-background);
    
}

  #main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 70px;
  }
  
  ion-grid {
    flex-grow: 1;
    padding: 10px;
    margin-top: 70px;
  }

  
  ion-col {
    padding: 0;
    margin-bottom: 10px;
  }

  ion-img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  ion-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;

    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  ion-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius:10px 10px 0 0;
  }
  
  ion-card-header {
    padding: 10px;
  }
  
  ion-card-content {
    padding: 10px;
    flex-grow: 1;
  }
  
  ion-item {
    margin: 0;
  }
  
  ion-split-pane {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  ion-menu{
    margin-top: 70px;
    background-color: var(--ion-color-primary);
}

.dark-red{
    --background: var(--ion-color-primary);
}

.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  padding-top: 12%;

  cursor: pointer;

  ion-icon {
    margin-bottom: 8px;
  }
}

.buyBtn{
  color: var(--ion-color-secondary);
}

ion-button {
  color: --ion-color-light;
  font-weight: bold;
  text-transform: uppercase;

  &.md {
    --background: var(--ion-color-primary); /* Cambia a tu color deseado */
    --background-hover: var(--ion-color-background); /* Color al pasar el mouse */
    --border-radius: 8px;
  }
}

.reset-filters{
  --color: var(--ion-color-secondary);
}

/*  Personalizar la alerta */
.custom-alert {
  --background: #ffffff; /* Fondo de la alerta */
  --color: #333; /* Color del texto */
}

/*  Bot贸n "No" */
.alert-cancel-btn {
  color: red !important; /* Cambia el color del texto */
  font-weight: bold;
}

/*  Bot贸n "S铆" */
.alert-confirm-btn {
  color: green !important; /* Cambia el color del texto */
  font-weight: bold;
}
  
/*  Filtros */
.desktop-menu {
  display: block;
}

.mobile-filter-toggle {
  display: none;
  text-align: center;
  margin: 10px;
}

.mobile-filters {
  display: none;
}

/*  Responsive: En m贸viles */
@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none; /* Ocultar filtros laterales */
  }
  .mobile-filter-toggle {
    display: block; /* Mostrar bot贸n de filtros */
  }
  .mobile-filters {
    display: block;
  }
  ion-col {
    width: 100%;
    max-width: 100%;
  }
}
