<ion-content [fullscreen]="true" scrollY="true">
  <div class="register-container">
    <div class="register-box">
      <h2>{{ 'REGISTER.CREATE_ACCOUNT' | translate }}</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.EMAIL' | translate" 
                  type="email" 
                  formControlName="email" 
                  autocomplete="off" 
                  required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.USERNAME' | translate" 
                  type="text" 
                  formControlName="username" 
                  required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.PASSWORD' | translate" 
                  [type]="showPassword ? 'text' : 'password'" 
                  formControlName="password" 
                  required>
                </ion-input>
                <ion-button slot="end" fill="clear" (click)="changePasswordVisibility()">
                  <ion-icon style="color: white;" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.CONFIRM_PASSWORD' | translate" 
                  [type]="showPassword ? 'text' : 'password'"  
                  formControlName="confirmPassword" 
                  required>
                </ion-input>
                <ion-button slot="end" fill="clear" (click)="changePasswordVisibility()">
                  <ion-icon style="color: white;" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.NAME' | translate" 
                  type="text" 
                  formControlName="name" 
                  required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.SURNAME' | translate" 
                  type="text" 
                  formControlName="surname" 
                  required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.DNI' | translate" 
                  type="text" 
                  formControlName="dni" 
                  required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.PHONE' | translate" 
                  type="tel" 
                  formControlName="phone" 
                  required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input 
                  labelPlacement="floating" 
                  [label]="'REGISTER.AGE' | translate" 
                  type="date" 
                  formControlName="age" 
                  required>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Mensajes de error -->
        <ion-text class="input-error" color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <p *ngIf="name?.errors?.['required']">{{ 'REGISTER.ERRORS.NAME_REQUIRED' | translate }}</p>
          <p *ngIf="name?.errors?.['minlength']">{{ 'REGISTER.ERRORS.NAME_MINLENGTH' | translate }}</p>
        </ion-text>
        <ion-text class="input-error" color="danger" *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
          <p *ngIf="surname?.errors?.['required']">{{ 'REGISTER.ERRORS.SURNAME_REQUIRED' | translate }}</p>
          <p *ngIf="surname?.errors?.['minlength']">{{ 'REGISTER.ERRORS.SURNAME_MINLENGTH' | translate }}</p>
        </ion-text>
        <ion-text class="input-error" color="danger" *ngIf="dni?.invalid && (dni?.dirty || dni?.touched)">
          <p *ngIf="dni?.errors?.['required']">{{ 'REGISTER.ERRORS.DNI_REQUIRED' | translate }}</p>
          <p *ngIf="dni?.errors?.['pattern']">{{ 'REGISTER.ERRORS.DNI_PATTERN' | translate }}</p>
        </ion-text>
        <ion-text class="input-error" color="danger" *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
          <p *ngIf="phone?.errors?.['required']">{{ 'REGISTER.ERRORS.PHONE_REQUIRED' | translate }}</p>
          <p *ngIf="phone?.errors?.['pattern']">{{ 'REGISTER.ERRORS.PHONE_PATTERN' | translate }}</p>
        </ion-text>
        <ion-text class="input-error" color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <p *ngIf="email?.errors?.['required']">{{ 'REGISTER.ERRORS.EMAIL_REQUIRED' | translate }}</p>
          <p *ngIf="email?.errors?.['email']">{{ 'REGISTER.ERRORS.EMAIL_INVALID' | translate }}</p>
        </ion-text>
        <ion-text class="input-error" color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <p *ngIf="password?.errors?.['required']">{{ 'REGISTER.ERRORS.PASSWORD_REQUIRED' | translate }}</p>
          <p *ngIf="password?.errors?.['passwordStrength']">{{ 'REGISTER.ERRORS.PASSWORD_STRENGTH' | translate }}</p>
        </ion-text>
        <ion-text class="input-error" color="danger" *ngIf="registerForm.errors?.['passwordsMismatch']">
          <p>{{ 'REGISTER.ERRORS.PASSWORDS_MISMATCH' | translate }}</p>
        </ion-text>

        <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
          {{ 'REGISTER.CREATE_BUTTON' | translate }}
        </ion-button>
      </form>

      <!-- Enlace para iniciar sesión -->
      <div class="login-link">
        <p>{{ 'REGISTER.ALREADY_HAVE_ACCOUNT' | translate }} <a [routerLink]="['/login']">{{ 'REGISTER.LOGIN_LINK' | translate }}</a></p>
      </div>
    </div>
  </div>
</ion-content>
